<html>
    <head>
        <title>vault</title>
        <link rel="stylesheet" type="text/css" href="vault.css">
        <script src="vault.js"defer></script>
    </head>
    <body>
        <div class="signin">
            <div class="box2" id="box2">
                <form id="form">
                   <h2 class="create">Create Account</h2>
                   <p class="email2">Enter Email</p>
                       <div class="email-box">
                           <input type="text" id="email"placeholder="Enter Email" onkeydown="validation()"/>
                       </div>        
                       <span id="text"></span>
                   <button class="create-button">Next</button>    
                </form>
               </div> 
        </div>
    </body>
</html>

